.gradle
!gradle/wrapper/gradle-wrapper.jar

### Build ###
/build/
dist/
src/main/resources/static/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### Node ###
node_modules/

# System Files
.DS_Store
Thumbs.db

# JS test results
src/main/webapp/test-results

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
