<!-- TODO: display icon and title on the left side and search form on the right side -->
<div class="search-form">
  <img src="../../assets/film_camera.svg" width="50" height="50" class="logo">
  <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
  <label>Movie <input [formControl]="searchForm.controls.movieTitle" type="text"></label>
  <button type="submit">Search</button>
</form>
</div>

<div *ngIf="errorLoadingMovies" class="error">There was an error loading the movies!</div>

<div *ngIf="displayedMovies" class="movies-list">
  <div class="list-header">
    <div>Title</div>
  </div>
  <div class="movie-container" *ngFor="let movie of displayedMovies">
    <div class="movie-header" [ngClass]="{'selected': selectedMovieId === movie.id}" (click)="showMovieDetails(movie.id)">
      <div>{{movie.title}}</div>
    </div>
    <movie-details *ngIf="selectedMovieId === movie.id" [movie]="movie"></movie-details>
  </div>
</div>
